<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Payson_Payson>
            <version>1.8.3</version>
        </Payson_Payson>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <title>Payson Embedded</title>
                        <Payson_Payson before="Mage_Adminhtml">Payson_Payson_Adminhtml</Payson_Payson>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <layout>
        <updates>
            <payson_payson>
                <file>Payson.xml</file>                   
            </payson_payson>
        </updates>
    </layout>
    <global>
        <blocks>
            <payson>
                <class>Payson_Payson_Block</class>
            </payson>
        </blocks>
        <models>
            <payson>
                <class>Payson_Payson_Model</class>
            </payson>
        </models>
        <helpers>
            <payson>
                <class>Payson_Payson_Helper</class>
            </payson>
        </helpers>
        <resources>
            <!-- allow the plugin to read and write -->
            <payson_setup>
                <setup>
                    <module>Payson_Payson</module>
                    <class>Payson_Payson_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payson_setup>
            <payson_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payson_write>
            <payson_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payson_read>
        </resources>
    </global>
    <frontend>
        <secure_url>
            <payson_checkout>/payson/checkout</payson_checkout>
        </secure_url>
        <routers>
            <payson>
                <use>standard</use>
                <args>
                    <module>Payson_Payson</module>
                    <frontName>payson</frontName>
                </args>
            </payson>
        </routers>
        <translate>
            <modules>
                <payson_payson>
                    <files>
                        <default>Payson_Payson.csv</default>
                    </files>
                </payson_payson>
            </modules>
        </translate>
        <events>            
            <checkout_submit_all_after>
                <observers>
                    <payson_save_order_after_submit>
                        <class>payson/observer</class>
                        <method>saveOrderAfterSubmit</method>
                    </payson_save_order_after_submit>
                </observers>
            </checkout_submit_all_after>
            <controller_action_postdispatch_checkout_onepage_saveOrder>
                <observers>
                    <payson_save_order_onepage>
                        <class>payson/observer</class>
                        <method>setResponseAfterSaveOrder</method>
                    </payson_save_order_onepage>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveOrder>     
            <checkout_cart_update_items_after>
                <observers>
                    <payson_update_cart>
                        <class>payson/observer</class>
                        <method>updateCart</method>
                    </payson_update_cart>
                </observers>
            </checkout_cart_update_items_after>    
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <payson_payson>
                    <files>
                        <default>Payson_Payson.csv</default>
                    </files>
                </payson_payson>
            </modules>
        </translate>        
    </adminhtml>
    <default>
        <payment>
            <payson_standard>
                <test_mode>0</test_mode>
                <active>0</active>
                <model>payson/method_standard</model>
                <payment_action>authorize</payment_action>
                <order_status>pending_payment</order_status>
                <payment_guarantee>1</payment_guarantee>
                <restore_on_cancel>1</restore_on_cancel>
                <restore_on_error>1</restore_on_error>
            </payson_standard>
        </payment>
    </default>
</config>
